# RapidAPI Key for Udemy Course Scraper API
# Get your key from: https://rapidapi.com/api4ai-api4ai-default/api/udemy-course-scraper-api
# NOTE: The app works with demo data if this is not set
RAPIDAPI_KEY=your_rapidapi_key_here
